/*  BASE STYLES & BODY */

body {
    background-color: #FEE140;
    background-image: linear-gradient(180deg, #FEE140 0%, #FA709A 100%);
    height: 100%;
    margin: 0;
    padding: 0;
}

#bod_vis, #csn_bod, #sp_body {
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    background-image: none;
}

* {
    box-sizing: border-box;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*HEADER  */

#header {
    margin-left: 80px;
    margin-right: 80px;
}

.top {
    margin-top: 80px;
}

.top h5 {
    padding-top: 50px;
    padding-right: 90px;
    word-spacing: 40px;
    text-align: right;
}

#headertext, .nav-header {
    color: navy;
    opacity: 0.85;
    font-size: 20pt;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    font-family: 'Work Sans', sans-serif;
}

.nav-header a, #headertext a {
    color: navy;
    opacity: 1;
}

.nav-header a:visited, #headertext a:visited {
    color: navy;
    opacity: 1;
}

.nav-header:hover, #headertext:hover {
    color: navy;
    opacity: 1;
    font-style: italic;
}

#headerstyle #headertext, #headerstyle #headertext a, 
#headerstyle .nav-header, #headerstyle .nav-header a,
#headerstyle .nav-header a:visited, #headerstyle #headertext a:visited,
#headerstyle .nav-header:hover, #headerstyle #headertext:hover {
    color: #dddada;
}

#logo {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.8;
}

#logodiv {
    margin-left: 500px;
    margin-right: 500px;
}

.menu li {
    margin-left: 100px;
    padding-top: 10px;
}

/* Contact Info */
#contact {
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-size: 12pt;
    color: navy;
    letter-spacing: 1.5px;
    padding-top: 40px;
    padding-right: 100px;
    line-height: 30px;
    display: block;
    float: right;
    width: 300px;
    display: none;
}

#headerstyle #contact, #headerstyle #contact a, #headerstyle #contact a:visited {
    color: #dddada;
}

#headerstyle #contact a:hover {
    color: #FFB6C1;
}

#button {
    cursor: pointer;
}

#contact li:hover {
    color: #FFB6C1;
}

#contact a:visited {
    color: navy;
}

#contact a {
    color: navy;
}

#contact a:hover {
    color: #FFB6C1;
}

/* ===========================
   FRONT PAGE CONTENT
   =========================== */

.content p {
    font-family: 'Tinos', serif;
    color: white;
    letter-spacing: 1px;
}

.content_left, .content_right {
    padding: 100px 200px 100px 200px;
}

.content_left img {
    position: relative;
    float: left;
}

.content_left p {
    text-align: right;
}

.content_right img {
    position: relative;
    float: right;
}

#CSN {
    padding: 20px 100px 50px 50px;
}

#csnfront, #safront, #visfront {
    width: 500px;
    height: auto;
}

#visuals, #SP {
    padding: 30px 50px 140px 50px;
}

.content {
    margin-bottom: 400px;
}

.worktitle {
    font-size: 35px;
    font-style: italic;
}

.kind, .keys {
    font-size: 17px;
}

/* Animated text backgrounds on hover */
.border p {
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.60s ease-in;
    -moz-transition: all 0.60s ease-in;
    transition: all 0.60s ease-in;
}

.border:hover p, .border:active p {
    padding-right: 15px;
    -webkit-transition: all 0.60s ease-in;
    -moz-transition: all 0.60s ease-in;
    transition: all 0.60s ease-in;
    background-position: bottom left;
    color: #fff;
}

#visuals:hover p, #visuals:active p {
    background-image: linear-gradient(to left, #FCBD5B 50%, red 50%);
}

#CSN:hover p, #CSN:active p {
    background-image: linear-gradient(to left, #FBA76D 50%, black 50%);
}

#SP:hover p {
    background-image: linear-gradient(to left, #FA8A84 50%, navy 50%);
}

/* Menu hover effects */
.nav-header h5, #headertext {
    background-size: 200% 55%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-transition: all 0.20s ease-in;
    -moz-transition: all 0.20s ease-in;
    transition: all 0.20s ease-in;
}

.nav-header h5:hover, #headertext:hover {
    background-image: linear-gradient(to left, pink 50%, white 50%);
    -webkit-transition: all 0.20s ease-in;
    -moz-transition: all 0.20s ease-in;
    transition: all 0.20s ease-in;
    background-position: bottom left;
    color: #ff9ea9;
}

/* CSN */

#csn_title {
    text-align: center;
    font-size: 2.5em;
    color: #3e6c7c;
    letter-spacing: 3px;
    margin: 80px auto 80px;
    font-weight: 400;
    font-family: 'Tinos';
}

.csn_content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 40px 100px;
}

/* CSN Introduction */
.csn-intro {
    max-width: 900px;
    margin: 0 auto 80px;
    font-size: 1.15em;
    line-height: 1.8;
    text-align: center;
}

.csn-intro p {
    font-family: 'Tinos';
    color: white;
    font-size: 18px;
    letter-spacing: 1.2px;
    line-height: 1.8;
    opacity: 0.9;
    margin-bottom: 20px;
}

#txxxt2 {
    font-family: 'Tinos';
    color: white;
    font-size: 18px;
    letter-spacing: 1.2px;
    opacity: 0.8;
    font-style: italic;
    margin-top: 30px;
}

/* CSN Small Elements Row */
.elements-small-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 40px auto 60px;
    max-width: 800px;
}

.elements-small-row img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    opacity: 0.85;
    transition: opacity 0.3s ease;
}

.elements-small-row img:hover {
    opacity: 1;
}

/* CSN GIFs Row */
.gifs-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 60px auto;
    max-width: 1200px;
}

.gifs-row img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.gifs-row img:hover {
    opacity: 1;
}

/* CSN Text sections */
.csn-text {
    max-width: 900px;
    margin: 60px auto;
    font-family: 'Tinos';
    color: white;
    font-size: 1.1em;
    letter-spacing: 1.2px;
    line-height: 1.8;
    opacity: 0.9;
}

/* CSN Installation Layout */
.installation-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 80px auto;
    max-width: 1200px;
    align-items: center;
}

.installation-layout img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#tunsvg {
    filter: invert(1);
}

/* CSN Full Width Images */
.full-width-img {
    width: 100%;
    max-width: 1100px;
    margin: 60px auto;
    display: block;
    border-radius: 4px;
    opacity: 0.9;
}

/* CSN Exhibition Info */
.exhibitions-list {
    max-width: 900px;
    margin: 80px auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.exhibitions-list h4 {
    font-size: 1.4em;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #5BC2E7;
    font-weight: 400;
    font-family: 'Tinos';
}

.exhibitions-list p {
    font-family: 'Tinos';
    color: white;
    font-size: 18px;
    letter-spacing: 1.2px;
    line-height: 1.8;
    opacity: 0.9;
    margin-bottom: 20px;
}

.exhibitions-list a, .exhibitions-list a:visited {
    color: white;
}

.exhibitions-list a:hover {
    opacity: 0.7;
}

.exhibition-item {
    margin: 20px 0;
    padding-left: 25px;
    border-left: 3px solid #3e6c7c;
}

.exhibition-item p {
    margin: 10px 0;
}

.csn_ex {
    list-style-type: circle;
}

/* CSN Credits */
.credits {
    max-width: 900px;
    margin: 80px auto 60px;
    font-family: 'Tinos';
    color: white;
    font-size: 0.95em;
    letter-spacing: 1.2px;
    line-height: 1.8;
    opacity: 0.7;
}

.credits p {
    margin: 15px 0;
}

.credits a, .credits a:visited {
    color: white;
}

.credits a:hover {
    opacity: 0.7;
}

.end_text {
    font-size: 14px;
}

/*space arp */

.video iframe {
    width: 100%;
}

.arp_text {
    padding-top: 100px;
    padding-right: 200px;
    width: 40%;
    float: right;
    position: relative;
    color: white;
    opacity: 0.9;
    line-height: 25px;
}

.desc-text {
    font-size: 18px;
}

#vid1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.keywords {
    font-style: italic;
}

#kodeapr {
    display: inline-block;
}

#kodeapr a {
    color: white;
}

#arp_img1 {
    padding: 150px 50px 400px 120px;
    float: left;
    width: 500px;
    opacity: 0.8;
    position: relative;
}

#arp_img1:hover {
    opacity: 1.0;
}

p.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p.divider * {
    flex-shrink: 0;
}

p.divider span.divider {
    width: 100%;
    flex-shrink: 1;
    border-bottom: 1px dotted white;
    opacity: 0.5;
}

.SP {
    padding-top: 100px;
    padding-bottom: 800px;
    height: 100%;
}

/* visuals */

body #visu {
    background-color: navy;
}

#dau1 {
    width: 400px;
    padding-left: 100px;
}

#bboy, #bboy_click {
    width: 550px;
    cursor: pointer;
    display: block;
    padding-bottom: 100px;
}

#clickme {
    float: left;
    display: inline;
    margin-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 22pt;
    font-family: 'Work Sans', serif;
    font-style: italic;
    opacity: 0.8;
}

#clickme2 {
    display: none;
    font-family: 'Work Sans', serif;
    font-style: italic;
    opacity: 0.8;
}

#dunes {
    width: 800px;
}

#dunes:hover, #dau1:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
    cursor: pointer;
}

#superspace {
    width: 800px;
    padding-left: 200px;
    padding-top: 50px;
}

.title_text {
    font-size: 14pt;
    opacity: 0.8;
}

.description {
    font-size: 11pt;
    opacity: 0.8;
    display: inline;
}

#vin {
    font-size: 15pt;
}

#superspace_div p {
    text-align: right;
    padding-right: 400px;
}

.vis {
    padding-left: 100px;
    padding-top: 150px;
}

.vis p {
    padding-left: 100px;
    letter-spacing: 1.5px;
    line-height: 30px;
}

#c1 {
    margin-top: -200px;
}

/*  FOOTER */

.bottom {
    font-family: 'Work Sans', 'sans-serif';
    font-size: 11px;
    color: white;
    text-align: center;
    clear: both;
    margin-top: 100px;
}

.bottom a, .bottom a:visited {
    color: white;
}

.bottom a:hover {
    opacity: 0.7;
}

/*  RESPONSIVE - MOBILE */

@media screen and (min-width: 320px) and (max-width: 1200px) {
    
    /* Header adjustments */
    #visfront, #safront, #csnfront {
        width: 100%
    }

    #contact {
        padding: 0px;
        text-align: left;
        margin-bottom: 20px;
    }

    #headertext, #work, #button {
        font-size: 20px;
    }

    #logo {
        margin-top: 50px;
        width: 70px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #logodiv {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .menu li {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding-left: 30px;
    }

    .menu {
        display: inline-block;
    }

    #header a {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #headertext {
        display: block;
    }

    .top {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .top h5 {
        padding-top: 10px;
        padding-right: 10px;
        word-spacing: 5px;
        text-align: left;
    }

    #header {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Front page content */
    .content_left, .content_right {
        padding: 0px 0px 0px 0px;
    }

    .content_left img, .content_right img {
        position: relative;
        float: left;
        margin-left: auto;
        margin-right: auto;
        padding-right: 10px;
    }

    .content_left p, .content_right p {
        text-align: left;
    }

    .border {
        display: block;
    }

    .border:before, .border:after, .border>:first-child:before,
    .border>:first-child:after {
        border-style: none;
    }

    #CSN, #visuals, #SP {
        padding: 0px 0px 50px 0px;
    }

    .content, .csn_content, .SP {
        padding: 20px;
    }

    /* CSN Page Mobile */
    #csn_title {
        font-size: 1.6em;
        letter-spacing: 2px;
        margin: 40px auto;
        padding: 0;
    }

    .csn-intro {
        font-size: 1em;
        margin-bottom: 50px;
    }

    .csn-intro p, #txxxt2, .csn-text, .exhibitions-list p, .credits p {
        padding: 0;
        font-size: 16px;
    }

    .csn-text {
        margin: 40px auto;
    }

    .elements-small-row {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin: 30px auto 40px;
    }

    .elements-small-row img {
        height: 120px;
    }

    .gifs-row {
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 40px auto;
    }

    .installation-layout {
        grid-template-columns: 1fr;
        gap: 25px;
        margin: 50px 0;
    }

    .full-width-img {
        margin: 40px auto;
    }

    .exhibitions-list {
        padding: 25px;
        margin: 50px auto;
    }

    .exhibitions-list h4 {
        font-size: 1.2em;
    }

    .exhibition-item {
        padding-left: 15px;
        border-left-width: 2px;
    }

    .credits {
        margin: 50px auto 40px;
        font-size: 0.9em;
    }

    /* SP Page Mobile */
    #contact {
        text-align: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        line-height: 10px;
        float: left;
    }

    .arp_text {
        margin-top: 0px;
        padding-top: 0px;
        float: left;
        position: relative;
        width: 100%
    }

    #vid1 {
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #arp_img1 {
        padding: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .SP {
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
    }

    /* Visuals Page Mobile */
    #c1 {
        zoom: 30%;
        padding-top: 150px;
    }

    #c2 {
        zoom: 40%;
        padding-top: 50px;
    }

    #c3 {
        zoom: 55%;
        padding-top: 50px;
    }

    #treerings {
        padding-top: 50px;
    }

    #dunes, #dau1, #superspace {
        width: 100%;
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 20px;
        display: block;
        position: relative;
        float: left;
    }

    #bboy_click, #bboy {
        width: 100%;
    }

    #clickme {
        display: none;
    }

    #clickme2 {
        display: inline-block;
    }

    #vin {
        display: none;
    }

    .description {
        padding: 0px;
    }

    #bod_vis .content {
        padding-top: 0px;
        margin: 0px;
    }

    .vis {
        padding-left: 0px;
        padding-top: 10px;
    }

    .vis p {
        padding-left: 0px;
        line-height: 20px;
    }

    #arrowside {
        display: none;
    }

    #superspace_div p {
        text-align: left;
        padding-right: 0px;
    }
}

/* Landscape orientation adjustments */
@media screen and (orientation: landscape) and (max-width: 1200px) {
    .menu li {
        padding-top: 30px;
    }

    #contact {
        text-align: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        line-height: 10px;
        float: right;
    }

    #logo {
        margin-top: 20px;
        width: 70px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        position: relative;
    }

    #logodiv {
        margin-right: 300px;
        margin-left: 300px;
    }

    #c1 {
        zoom: 60%;
    }

    #c2 {
        zoom: 70%;
    }

    #c3 {
        zoom: 60%;
    }
}

/* Tablet specific CSN adjustments */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .elements-small-row {
        max-width: 600px;
    }
    
    .gifs-row {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}
